.play-container .hang-container {
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 503px;
}

.play-container .title-container {
    width: 500px;
    height: 108px;
    overflow: hidden;
}

.play-container > p {
    font-family: Helvetica, sans-serif;
    font-size: 27px;
    text-align: center;
}